body{
margin: 0;
    background-color: #e6ecf0;
}

.signup{
    margin:auto;
    width: 500px;
    height: auto;
    margin-top: 20px;
    position: relative;
    vertical-align: middle;
    border: black solid thin;
    border-radius: 20px;
    background-color: whitesmoke;
    padding:1em 3em 1em 3.5em;

}
.signup #head{
    height: 45px;
    text-align: center;
    padding: 5px;
}

.signup input[type = text], input[type = email], input[type = password]{
    width:100%;
    float: right;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
}
.signup button[type = submit]{
    width: 50%;
    padding: 15px 10px;
    background-color: blue;
    color: white;
    font-size: large;
    border-radius: 25px;
    margin-left: 120px;
}

.login{
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 500px;
    height: 320px;
    position: relative;
    border: black solid thin;
    border-radius: 20px;
    background-color: whitesmoke;
}

.login #head{
    height: 45px;
    text-align: center;
    padding: 5px;
}

.login #content{
    padding:1em 3em 1em 3.5em;
}

.login input {
    display: block;
    width: 400px;
}

.login button[type=submit]{
    width: 50%;
    padding: 15px 20px;
    background-color: blue;
    color: white;
    font-size: large;
    margin-left: 120px;
    border-radius: 25px;
}

.header #top_row{
    background-color: blue!important;
    padding: 0.1em 3em 0.1em 3em;
    color: white;
}
.header #top_row button{
    float: right;
}
.header #menu-row{
    background-color: antiquewhite;
    padding: 1em 3em 1em 3em;

}
#menu-row ul {
    color: black;
    margin-left: 300px;
}
#menu-row ul li{
    display: inline;
    padding: 2em;
}
#menu-row ul li a:hover{
   color: blue;
}
#menu-row ul li a:link{
   text-decoration: none;
}
#home-slide-show{
    width: 85%;
    margin-left: 8%;
    height: 40%;
}
#home-slide-show img{
    width: inherit;
    height: 550px;
}
table{
    width: 85%;
    margin-top: 20px;
    margin-left: 10%;
    border-collapse: collapse;
    background-color: white;
}

th{
    background-color: lightblue!important;
    color: blue;
}
table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}
th, td {
    padding: 15px;
}
.sub-menu{
    margin-left: 200px;
    width: 85%;
    margin-top: 40px;
}
.sub-menu h3{
    color: blue;
    font-style: oblique;
    font-size: x-large;
    margin-left: 200px;
}
.sub-menu button{
    background-color: blue;
    color: white;
    padding: 1em;
    margin-left: 700px;
    border-radius: 25px;
}

#create-meal{
    width: 500px;
    height: 300px;
    margin-left: 33%;
    position: relative;
    border: black solid thin;
    border-radius: 0;
    background-color: whitesmoke;
}

#create-meal{
    padding:1em 3em 1em 3.5em;
}

#create-meal input {
    width:100%;
    float: right;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

#create-meal button[type=submit]{
    width: 25%;
    padding: 15px 20px;
    background-color: blue;
    color: white;
    font-size: large;
    margin-left: 120px;
    border-radius: 25px;
}