<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<div class="login">
   <div id="head">
       <h4>LOGIN</h4>
   </div>
<div id="content">

    <form  action="/">

    <label>Email</label>
    <input type="email" name="email" placeholder="eg..youremail@gmail.com">
        <br>
     <label>Password</label>
    <input type="password" name="password" placeholder="password">
          <br>

    <button type="submit">Login</button>
        </form>


</div>

</div>
</body>
</html>