
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>meals</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<div class="header">
    <div  id="top_row">
        <p>+(256) 7583637383 <button>SIGNUP/LOGIN</button></p>

    </div>
    <div id="menu-row">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/">MENU</a></li>
            <li><a href="meal.html">MEALS</a></li>
            <li><a href="/">ORDER</a></li>
            <li><a href="/">ABOUT US</a></li>
            <li><a href="/">CONTACT US</a></li>


        </ul>
    </div>
</div>

    <div class="sub-menu">
        <h3>MEALS LIST <button onclick="create()">ADD MEAL</button></h3>
    </div>

     <div id="create-meal" style="display: none">
         <form id="content">
                <label>Name</label>
             <input type="text" name="name" placeholder="Name">
        <br>
             <label>Category</label>
            <input type="text" name="category" placeholder="eg... Local Food">
           <br>
            <label>Price</label>
             <input type="text" name="price" placeholder="Price">
          <br>

             <button type="submit" style="background-color: crimson">Cancel</button>
            <button type="submit">Create</button>
     </form>
    </div>

    <table>
    <tr>
        <th style="width: 20px"></th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Action</th>
    </tr>

    <tbody>
    <tr>
        <td>1</td>
        <td>Matooke</td>
        <td>Local Food</td>
        <td>5000</td>
        <td>Edit</td>
    </tr>  <tr>
        <td>2</td>
        <td>Rice</td>
        <td>Local Food</td>
        <td>2000</td>
        <td>Edit</td>
    </tr>  <tr>
        <td>3</td>
        <td>Sweet Potaeto</td>
        <td>Local Food</td>
        <td>2000</td>
        <td>Edit</td>
    </tr>  <tr>
        <td>4</td>
        <td>Yams</td>
        <td>Local Food</td>
        <td>1000</td>
        <td>Edit</td>
    </tr>  <tr>
        <td>5</td>
        <td>Potaetos</td>
        <td>Local Food</td>
        <td>2500</td>
        <td>Edit</td>
    </tr>  <tr>
        <td>6</td>
        <td>Pumpkin</td>
        <td>Local Food</td>
        <td>1700</td>
        <td>Edit</td>
    </tr>
    </tbody>

    </table>

<script>
    function create() {
        document.getElementById("create-meal").style.display= "block"
    }
</script>

</body>
</html>
