<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block tittle %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    {% endblock %}
</head>
<body>

<div class="header">
    <div  id="top_row">
        <p>+(256) 7583637383 <button>SIGNUP/LOGIN</button></p>

    </div>
    <div id="menu-row">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/">MENU</a></li>
            <li><a href="/meal">MEALS</a></li>
            <li><a href="/">ORDER</a></li>
            <li><a href="/">ABOUT US</a></li>
            <li><a href="/">CONTACT US</a></li>


        </ul>
    </div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>